/* debug css */
/* *,
*::before,
*::after {
  outline: 1px solid red;
} */

@import "tailwindcss";

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  background-color: lightslategray;
}

*::-webkit-scrollbar-thumb:active {
  background-color: cadetblue;
}